html, body {
    position: relative;
    overflow: hidden;
    height: 100%;
    margin: 0;
    background: black;
}
#main-menu-search {
    margin-bottom: 0px;
}
#first-container {
    background-color: rgba(0, 0, 0, 0.6);
}
@font-face {
    font-family: 'Neo';
    src: url('../fonts/Neo-Sans-Std-Medium-TR.otf');
}
@font-face {
    font-family: 'Neo-Light';
    src: url('../fonts/Neo_Sans_Light.ttf');
}
#search-bar {
    border-radius: 0px;
    width:210px;
    height: 28px;
    background: transparent;
    color: rgb(204, 204, 204);
    font-family: 'Myriad Pro';
}
#search-bar:focus {
    border-color: rgb(204, 204, 204);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(204, 204, 204, 0.6);
}
/* search bar */
.inner-addon { 
    font-size: 11px;
    position: relative; 
    color: rgb(204, 204, 204);
}
.inner-addon .fa {
  position: absolute;
  padding: 9px;
  pointer-events: none;
}
.right-addon .fa { left: 180px;}
.right-addon input { padding-right: 30px; }
/* ------ */
.lang-link {
    font-size:17px;
    font-family: 'Neo';
    text-decoration: none;
}
.lang-link a {
    color: rgb(204, 204, 204);
    text-decoration: none;
}
.lang-link a:hover {
    text-decoration: none;
}
.darker-row {
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 8px;
    padding-bottom: 2px;
}
#logo-navbar {
    height:70px;
    width: 96px;
}
#nav-container {
    height:70px;
}
#nav-item-ul {
    float:none;
    height:72px;
    margin-left: auto;
    margin-right: auto;
}
.nav-item {
    width:25%;
    height: 100%;
    text-align: center;
    font-family: 'Neo';
    border-top: 10px solid #000000;
}
.nav-link {
    height: 100%;
    color: rgb(204, 204, 204);
}
.nav>li>a:focus, .nav>li>a:hover {
    color: rgb(204, 204, 204);
    background-color: transparent;
}
a.nav-link:focus, a.nav-link:hover {
    color: rgb(204, 204, 204);
    background-color: transparent;
}
li#home-nav {
    border-top-color: #0835ad;
}
li#ea-nav {
    border-top-color: #02c56c;
}
li#produit-nav {
    border-top-color: #bac815;
}
li#contact-nav {
    border-top-color: #c6144d;
}
.vid-control-bar {
    margin-top:35px;
}
.vid-control {
    margin-left:10px;
    width:22px;
    height:22px;
}
.vid-control:hover {
    cursor: pointer; cursor: hand;
}
.vid-control img {
    width: 22px;
    height: 22px;
}
#color-bar .bar {
    background: #0835ad;
    border-radius: 4px;
    box-shadow: 0 0 10px #0835ad;
}
#blue-filter {
    padding-top: 10%;
    position: absolute;
    top: 0;
    left: 0;
    /*background-color: rgba(8,53,173,0.18);*/
    width: 100%;
    height: 100vh;
    z-index: 2;
}
.slick-dots {
    text-align: right;
    z-index: 3;
    top: 89vh;
    bottom: 0;
}
.slick-dots li button:before {
    border: 2px solid white;
    border-radius: 15px;
    content: '';
}
.slick-dots li.slick-active button:before {
    background: white;
    opacity: 1.0;
}
#main-slider .item {
    z-index: 1;
    height: 93vh;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}
.logos {
    margin-top: 65px;
}
#blue-filter .slider-inner .img-inner-slider {
    width: 15.5em;
    height: 10.688em;
}
#blue-filter .slider-inner h1 {
    font-family: 'Neo';
    color: #053ece;
    font-size: 30px;
}
#blue-filter #download-button {
    background-color: transparent;
    border-radius: 0px;
    font-family: 'Neo';
    font-size: 15px;
    color:rgb(255,255,255);
}
#blue-filter #download-button .low-text {
    font-size: 8px;
    font-family:sans-serif;
}
#blue-filter #download-button #download-icon {
    display: inline;
    width: 15px;
    height: 15px;
}
#blue-filter .logo-partenaire {
    margin-top: 10px;
    width: 100px;
}
#lower-navigation {
    height: 8%;
    width: 100%;
}
.height-regulator {
    height: 100%;
}
#lower-navigation {
    background-color: #1e56a6;
    color: white;
    font-family: 'Neo';
    font-size: 15px;
}
.searching-bar {
    transform: translateX(-100%);
    border: none;
    height: 8%;
}
.searching-bar .rechercher-par {
    background: black;
    display: block;
    color: white;
    font-family: 'Neo';
    font-size: 11px;
    height: 100%;
    cursor: hand;
    cursor: pointer;
}
.searching-bar .lamp-button {
    display: inline-block;
    text-decoration: none;
    width: 65px;
    height: 100%;
    text-align: center;
    margin: 0;
}
.searching-bar .lamp-button .lamp-icon {
    margin-top: 0;
    height: 35px;
    width: 23px;
}
.searching-bar .lamp-button:hover {
    cursor: pointer;
    cursor: hand;
}
.searching-bar .lamp-button .lamp-text {
    display: block;
    color: black;
    font-family: 'Neo';
    font-size: 10px;
}
.selection-item {
    width: 120vh;
    height: 50vh;
    z-index: 4;
    position: absolute;
    transform: translateY(150%);
    left: 50%;
    margin-top: -50vh;
    margin-left: -60vh;
}
.selection-item .item-in-selection:hover {
    cursor: hand;
    cursor: pointer;
}
/* ************ NAVIGATION PRODUIT ************* */
#produit-navigation {
    background-color: #2ad2bb;
}
#produit-selection {
    background: #2ad2bb; /* Old browsers */
    background: -moz-linear-gradient(left, #2ad2bb 39%, #1b875a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #2ad2bb 39%,#1b875a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #2ad2bb 39%,#1b875a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ad2bb', endColorstr='#1b875a',GradientType=0 ); /* IE6-9 */
}
/* ************ NAVIGATION PRODUIT FIN************* */
/* ************ NAVIGATION MARQUE ************* */
#marque-navigation {
    background-color: #f32b21;
}
#marque-selection {
    background: #f32b21; /* Old browsers */
    background: -moz-linear-gradient(left, #f32b21 39%, #b80c04 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #f32b21 39%,#b80c04 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #f32b21 39%,#b80c04 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f32b21', endColorstr='#b80c04',GradientType=0 ); /* IE6-9 */
}
/* ************ NAVIGATION MARQUE FIN************* */
/* ************ NAVIGATION Solution ************* */
#solution-navigation {
    background-color: #12f958;
}
#solution-selection {
    background: #12f958; /* Old browsers */
    background: -moz-linear-gradient(left, #12f958 39%, #03822a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #12f958 39%,#03822a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #12f958 39%,#03822a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12f958', endColorstr='#03822a',GradientType=0 ); /* IE6-9 */
}
/* ************ NAVIGATION SOlution FIN************* */
.search-button {
    color: white;
    border-radius: 0px;
    background: transparent;
}
#blue-row .blue-sub-row {
    line-height: 34px;
    font-family: 'Neo-Light';
    font-size: 15px;
    font-weight: 600;
}
.btn.btn-footer {
    font-family: 'Neo';
    text-transform: uppercase;
    line-height: 1;
    font-size: 11px;
    padding: 2px 5px;
    margin-right: 10px;
    font-weight: 200;
    padding-top: 4px;
}
.btn.btn-footer:hover {
    color: white;
}
.center-el {
    position: relative;
    top: 50%;
    margin-top: -15px;
}
.search-option:hover {
    cursor: pointer;
    cursor: hand;
    background-color: transparent;
}
/*---- animatipon rotation -----*/
@-moz-keyframes rotatebox /*--for firefox--*/{

    from{
        -moz-transform:rotate(0deg);
    }       
    to{
        -moz-transform:rotate(180deg);
    }                       

}

@-webkit-keyframes rotatebox /*--for webkit--*/{

    from{
        -webkit-transform:rotate(0deg);
    }       
    to{
        -webkit-transform:rotate(180deg);
    }                       

}