{% extends 'ag_menu.html.twig' %}

{% block menu %}

    <li class="{% if option is defined and (option == 'category_list' or option == 'category_create' or option == 'category_edit') %}active{% endif %}">
        <a href="{{ path('category_list') }}">
            <i class="fa fa-list" aria-hidden="true"></i>
            <span>Les catégories</span>
            <i class="fa pull-right fa-angle-right"></i>
        </a>
    </li>


    <li class="{% if option is defined and (option == 'subcategory_list' or option == 'subcategory_create' or option == 'subcategory_edit') %}active{% endif %}">
        <a href="{{ path('subcategory_list') }}">
            <i class="fa fa-list-alt" aria-hidden="true"></i>
            <span>Les sous catégories</span>
            <i class="fa pull-right fa-angle-right"></i>
        </a>
    </li>


    <li class="{% if option is defined and (option == 'product_list' or option == 'product_create' or option == 'product_edit') %}active{% endif %}">
        <a href="{{ path('product_list') }}">
            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
            <span>Les produits</span>
            <i class="fa pull-right fa-angle-right"></i>
        </a>
    </li>

{#<li class="treeview {% if option is defined and (option == 'col_prod_list' or option == 'col_prod_create' or option == 'col_prod_edit') %}active{% endif %}">#}
    {#<a href="#">#}
        {#<i class="fa fa-folder-o"></i>#}
        {#<span>col_prod</span>#}
        {#<i class="fa pull-right fa-angle-right"></i>#}
    {#</a>#}
    {#<ul class="treeview-menu" style="display: none;">#}
        {#<li {% if option is defined and option == 'col_prod_list' %}class="active"{% endif %}><a href="{{ path('col_prod_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>#}
        {#<li {% if option is defined and option == 'col_prod_create' %}class="active"{% endif %}><a href="{{ path('col_prod_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>#}
    {#</ul>#}
{#</li>#}

{#<li class="treeview {% if option is defined and (option == 'color_list' or option == 'color_create' or option == 'color_edit') %}active{% endif %}">#}
    {#<a href="#">#}
        {#<i class="fa fa-folder-o"></i>#}
        {#<span>color</span>#}
        {#<i class="fa pull-right fa-angle-right"></i>#}
    {#</a>#}
    {#<ul class="treeview-menu" style="display: none;">#}
        {#<li {% if option is defined and option == 'color_list' %}class="active"{% endif %}><a href="{{ path('color_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>#}
        {#<li {% if option is defined and option == 'color_create' %}class="active"{% endif %}><a href="{{ path('color_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>#}
    {#</ul>#}
{#</li>#}



    <li class="{% if option is defined and (option == 'notification_list' or option == 'notification_create' or option == 'notification_edit') %}active{% endif %}">
        <a href="{{ path('notification_list') }}">
            <i class="fa fa-list-ol" aria-hidden="true"></i>
            <span>Notifications</span>
            <i class="fa pull-right fa-angle-right"></i>
        </a>
    </li>



    <li class="{% if option is defined and (option == 'service_list' or option == 'service_create' or option == 'service_edit') %}active{% endif %}">
        <a href="{{ path('service_list') }}">
            <i class="fa fa-key"></i>
            <span>Services</span>
            <i class="fa pull-right fa-angle-right"></i>
        </a>
    </li>

    <li class="{% if option is defined and (option == 'staff_list' or option == 'staff_create' or option == 'staff_edit') %}active{% endif %}">
        <a href="{{ path('staff_list') }}">
            <i class="fa fa-users"></i>
            <span>Staff</span>
            <i class="fa pull-right fa-angle-right"></i>
        </a>
    </li>

    <li class="{% if option is defined and (option == 'history_list' or option == 'history_create' or option == 'history_edit') %}active{% endif %}">
        <a href="{{ path('history_list') }}">
            <i class="fa fa-reply-all"></i>
            <span>Histoire</span>
            <i class="fa pull-right fa-angle-right"></i>
        </a>
    </li>


{% endblock %}